img {
    height: 200px; 
    width: 300px;
}

#marco {
    overflow: scroll; 
}
ion-grid {
    height: 90%;
    }
  
 //   ion-row {
    //  height: 33.33%;
 //   }
  


// ion-card {
//     height: 100px;
//     width: px;
// }

// ion-col {
//     height: 100px;
// }
