<ion-header>
  <ion-toolbar>
    <ion-title>Rental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <div class="ion-padding">
            <ion-input placeholder="Location"></ion-input>
            <ion-input placeholder="Price"></ion-input>
            <ion-input placeholder="Description"></ion-input>
            <ion-button><a href="https://www.google.com/imghp?hl=en"> 
              <div class="link">Upload Image </div>
            </a>
          </ion-button>
            <br>
            <ion-button (click)="navigateToMain()">Add</ion-button>
        </div>
</ion-content>
