<ion-header>
  <ion-toolbar>
    <ion-title>
      Not all who wander are lost - J.R.R Tolken
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>
      Book your airbnb today for safe wandering!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      <ion-input placeholder="Username or Email"></ion-input>
      <ion-input placeholder="Password"></ion-input>
      <ion-button (click)="navigateToMain()">Login</ion-button>
  </div>
</ion-content>
